<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="~{/layout/mypage :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">회원 명부</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">e-mail</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">passwordLock</th>
                <th scope="col">regDate</th>

            </tr>
            </thead>
            <tbody>

            <tr th:each="dto : ${result}" th:onclick="|location.href='@{/mypage/detail/{id}(id=${dto.id})}'|">
                <td> <a class="move" th:text="${dto.id}" scope="row" ></a></td>
                <td th:text="${dto.email}"></td>
                <td th:text="${dto.name}"></td>
                <td th:text="${dto.role}"></td>
                <td th:text="${dto.passwordLock}"></td>
                <td  th:text="${dto.regDate}"></td>
<!--                <td th:text="${dto.regDate}"></td>-->
            </tr>
            </tbody>
          </table>

<!--
        권한있는 사람 모두가 볼수 있다.
        <div sec:authorize="isAuthenticated()">
            This content is only shown to authenticated users.
        </div>
        &lt;!&ndash;특정 권한이 있는 사람만 볼수 있다. admin&ndash;&gt;
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            This content is only shown to administrators.
        </div>
        &lt;!&ndash;특정 권한이 있는 사람만 볼수 있다. user&ndash;&gt;
        <div sec:authorize="hasRole('ROLE_USER')">
            This content is only shown to users.
        </div>
-->

        <!--        검색 시작
                 검색을 할때는  pageNum,amount도 같이 전달해야한다.  -->

        <form id='searchForm' action="/mypage/select" method="get">
            <!--            크리테리아로 수집을 해야하기 때문애 name = type으로 한다. -->
            <select name="type">
                <option value="A" th:selected="${pageMaker.cri.type=='A'}">---</option>
                <option value="E" th:selected="${pageMaker.cri.type=='E'}">e-mail</option>
                <option value="N" th:selected="${pageMaker.cri.type=='N'}">이름</option>
            </select>

            <!--            name은 keyword로 준다. -->
            <input id='actionForm' type='text' name="keyword">
            <input type='hidden' name="pageNum" th:value='${pageMaker.cri.pageNum}'>
            <input type='hidden' name="amount" th:value='${pageMaker.cri.amount}'>

            <button class='btn btn-default'>검색</button>

        </form>

        <!--        검색 끝-->



   </th:block>

</th:block>

</html>


